doctype html
html 
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
  center 
   block content 
  form
  center
   select
    option 0.0
    option 0.5
    option 1.0
    option 1.5
    option 2.0
    option 2.5
    option 3.0
    option 3.5
    option 4.0
    option 4.5
    option 5.0
    option 5.5
    option 6.0
    option 6.5
    option 7.0
    option 7.5
    option 8.0
    option 8.5
    option 9.0
    option 9.5
    option 10.0
center
 if condition
    block funstuff
 button Submit   